extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}
    
    form.field(method='POST' action='')
      label.label(for='name') Name:
      div.control
        input.input#name(type='text' placeholder='CPU Name' name='name' required='true' value=(undefined===newCase ? '' : newCase.name))
      label.label(for='manufacturer') Manufacturer:
      div.control
        input.input#manufacturer(type='text' placeholder='Manufacturer' name='manufacturer' required='true' value=(undefined===newCase ? '' : newCase.manufacturer))
      label.label(for='coreCount') Core Count:
      div.control 
        input.input(type='number', name='coreCount' placeholder='1' required='true' value=(undefined===newCase ? '' : newCase.coreCount))
      label.label(for='coreClock') Core Clock:
      div.control
        input.input(type='number', name='coreClock' placeholder='1' step='0.10' required='true' value=(undefined===newCase ? '' : newCase.coreClock))
      label.label(for='price') Price:
      div.control
        input.input(type='number', name='price' placeholder='0.00' step='0.01' required='true' value=(undefined===newCase ? '' : newCase.price))
      label.label(for='amount') Amount:
      div.control
        input.input(type='number', name='amount' placeholder='1' required='true' value=(undefined===newCase ? '' : newCase.amount))
      button.button.is-link(type='submit') Submit
    
    if errors
      ul
        for error in errors
          li!=error.msg
